@model List<Sales_Inventory.Models.InHouseViewModel>

<div class="box-body table-responsive">
    <table id="InHouseTransactionlist" class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>Paid By</th>
                <th>Paid For</th>
                <th>Paid Date</th>
                <th>Total Amount</th>
                <th>Balance</th>
                <th>Carry Forward</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tblbody">
            @foreach (var item in Model)
            {
                if (@item.CarryForward > 0)
                {
                    <tr class="disabled" style="background-color:grey;color:white;">
                        <td>@item.PaidBy</td>
                        <td>@item.PaidFor</td>
                        <td>@String.Format(@"{0:dd\/MM\/yyyy}", item.PaidDate)</td>
                        <td>@item.PaidAmt</td>
                        <td>@item.Balance</td>
                        <td>@item.CarryForward</td>
                        <td>
                            <a href="#" onclick="GetDetails(@item.Id)" style="display:none;"><span class="label label-success">Make Payment</span></a>
                            <a href="/InHouse/InHouseDetails/@item.Id" style="display:none;"><span class="label label-primary">Show Payments</span></a>
                            <a href="/InHouse/Delete/@item.Id" onclick="return confirm(' you want to delete?');"><span class="label label-danger">Delete</span></a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                    <td>@item.PaidBy</td>
                    <td>@item.PaidFor</td>
                    <td>@String.Format(@"{0:dd\/MM\/yyyy}", item.PaidDate)</td>
                    <td>@item.PaidAmt</td>
                    <td>@item.Balance</td>
                    <td>@item.CarryForward</td>
                    <td>
                        <a href="#" onclick="GetDetails(@item.Id)"><span class="label label-success">Make Payment</span></a>
                        <a href="/InHouse/InHouseDetails/@item.Id"><span class="label label-primary">Show Payments</span></a>
                        <a href="/InHouse/Delete/@item.Id" onclick="return confirm(' you want to delete?');"><span class="label label-danger">Delete</span></a>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>