@model  Sales_Inventory.Models.InHouseModel

@{ 
    ViewBag.Title = "In-House Transaction List";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

@section Styles
{
    <style>
        #PurchaseName {
            width: 240px;
        }
    </style>
}

<div class="content-wrapper">
    @*<section class="content-header">
        <h1>In-House Transaction List</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">List</li>
        </ol>
    </section>*@

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Payment By:</label>
                                <div class="input-group">
                                    @Html.DropDownList("PaymentName", new SelectList(Model.PaidByList, "Text", "Text"), new { @class = "form-control required", @placeholder = "Select Name", @id = "PurchaseName", type = "option" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Start Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="startdatepicker" placeholder="Select Start Date">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>End Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="enddatepicker" placeholder="Select End Date">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Action:</label><br />
                                <input type="submit" class="btn btn-primary" value="Filter" id="btnSearch" />
                                <input type="reset" class="btn btn-warning" value="Reset" id="btnReset" />
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Expense</label>
                                @Html.TextBoxFor(m => m.PaidBy, new { @class = "form-control required", placeholder = "Enter Paid By", @id = "paidBy" })
                                @Html.ValidationMessageFor(m => m.PaidBy)
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Paid To</label>
                                @Html.TextBoxFor(m => m.PaidFor, new { @class = "form-control required", placeholder = "Enter Paid To", @id = "paidFor" })
                                @Html.ValidationMessageFor(m => m.PaidFor)
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Paid Date</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m.PaidDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @id = "paidDate" })
                                    @Html.ValidationMessageFor(m => m.PaidDate)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="form-group">
                                <label>Total Amount</label>
                                @Html.TextBoxFor(m => m.PaidAmt, new { @class = "form-control required", placeholder = "Enter Total Amount", @id = "totalAmount" })
                                @Html.ValidationMessageFor(m => m.PaidAmt)
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-6">
                            <div class="form-group">
                                <label>Action</label><br />
                                <input type="submit" class="btn btn-primary" value="Create" id="btnSave" />
                            </div>
                        </div>
                        
                    </div>
                    <div id="SearchList">
                        @Html.Partial("_SearchList", Model.List)
                    </div>  
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#InHouseTransactionlist').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': false,
                'info': true,
                'autoWidth': false
            })
        });

        $('#startdatepicker').datepicker({
            autoclose: true,
            dateFormat: "dd/mm/yy",
            orientation: "down",
            endDate: "today"
        });

        $('#enddatepicker').datepicker({
            autoclose: true,
            dateFormat: "dd/mm/yy",
            orientation: "down",
            endDate: "today"
        });

        $("#paidDate").datepicker({ dateFormat: "dd/mm/yy" }).datepicker("setDate", new Date());

        $("#voucherDate").datepicker({ dateFormat: "dd/mm/yy" }).datepicker("setDate", new Date());

        $("body").on("click", "#btnSave", function () {
        //Loop through the Table rows and build a JSON array.
            var data = new FormData();
            data.append('paidFor', $("#paidFor").val());
            data.append('paidBy', $("#paidBy").val());
            data.append('paidDate', $("#paidDate").val());
            data.append('totalAmount', $("#totalAmount").val());

            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: "/InHouse/Create",
                data: data,
                processData: false,
                contentType: false,
                success: function (result) {
                    if (result) {
                        window.location.href = '@Url.Action("List","InHouse")';
                    }
                }
            });
        });

        function GetDetails(id) {
            $.ajax({
                url: "/InHouse/Edit/" + id,
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    $('#IdModal').val(response.Id);
                    $('#transactionNoModal').val(response.TransactionNo);
                    $('#paidByModal').val(response.PaidBy);
                    $('#MakePaymentInHouseVoucher').modal('show');
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            return false;
        };

        $("body").on("click", "#btnSearch", function () {
            var data = new FormData();
            data.append('PurchaseName', $("#PurchaseName").val());
            data.append('StartDate', $("#startdatepicker").val());
            data.append('EndDate', $("#enddatepicker").val());

            $.ajax({
                type: "POST",
                url: "/InHouse/SearchList",
                data: data,
                processData: false,
                contentType: false,
                success: function (result) {
                    if (result) {
                        $('#SearchList').html(result);
                    }
                }
            });
        });

        $("body").on("click", "#btnReset", function () {
            $('#startdatepicker').datepicker('setDate', null);
            $('#enddatepicker').datepicker('setDate', null);

            $.ajax({
                type: "GET",
                url: "/InHouse/List",
                success: function (result) {
                    if (result) {
                        window.location.href = '@Url.Action("List","InHouse")';
                    }
                }
            });
        });
    </script>
}

<div class="modal fade bd-example-modal-lg" id="MakePaymentInHouseVoucher">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">In-House Voucher</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("MakePayment", "InHouse", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-body">
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Transaction Id</label>
                                @Html.TextBoxFor(m => m.model.Id, new { @class = "form-control", @readonly = "readonly", @id = "IdModal" })
                                @Html.ValidationMessageFor(m => m.model.Id)
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Transaction No</label>
                                @Html.TextBoxFor(m => m.model.TransactionNo, new { @class = "form-control", @readonly = "readonly", @id = "transactionNoModal" })
                                @Html.ValidationMessageFor(m => m.model.TransactionNo)
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Payment From</label>
                                @Html.TextBoxFor(m => m.model.PaymentFrom, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.model.PaymentFrom)
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Payment Date</label>
                                @Html.TextBoxFor(m => m.model.PaymentDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly", @id = "voucherDate" })
                                @Html.ValidationMessageFor(m => m.model.PaymentDate)
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Payment Amount</label>
                                @Html.TextBoxFor(m => m.model.PaymentAmt, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.model.PaymentAmt)
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Payment Given To</label>
                                @Html.TextBoxFor(m => m.model.PaymentGivenTo, new { @class = "form-control", @readonly = "readonly", @id = "paidByModal" })
                                @Html.ValidationMessageFor(m => m.model.PaymentGivenTo)
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>