@model  IEnumerable<Sales_Inventory.Models.EmployeeViewModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<div class="col-xs-12">
    <div class="box">
        <div class="box-header with-border">
            <div class="form-group col-md-3">
                <a class="btn btn-primary pull-left" href="/Employee/Create"><i data-toggle="tooltip" data-original-title="Add Type" title="Add Type" class="fa fa-plus"></i>Add Employee</a>
            </div>
        </div>
        <div class="box-body">
            <table id="Emplist" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>FullName</th>
                        <th>Aadhar Number</th>
                        <th>Gender</th>
                        <th>Date of joining</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tblbody">
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.FullName</td>
                        <td>@item.AadharNumber</td>
                        <td>@item.Gender</td>
                        <td>@String.Format(@"{0:dd\/MM\/yyyy}", item.DateofJoining)</td>
                        <td>@item.PhoneNo</td>
                        <td>@item.PermanentAddress</td>
                        <td>
                            <a href="/Employee/Edit/@item.EmployeeId"><span class="label label-success"><i class="fa fa-pencil"></i></span></a>
                            <a href="/Employee/Delete/@item.EmployeeId" onclick="return confirm(' you want to delete?');"><span class="label label-danger"><i class="fa fa-trash-o"></i></span></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(function () {
        //$('#Emplist').DataTable()
        $('#Emplist').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    });

</script>
<script src="/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>