@model  Sales_Inventory.Models.PaymentReceiptViewModel

@{
    ViewBag.Title = "Payment Receipt List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #PurchaseName {
        width: 240px;
    }
</style>

<div class="content-wrapper">
    <section class="content-header">
        <h1>Payment Receipt List</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">List</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="col-md-2">
                            <label>Create:</label>
                            <div class="input-group">
                                <a class="btn btn-primary pull-left" href="" data-toggle="modal" data-target="#ModalSelectPaymentToReceived"><i data-toggle="tooltip" data-original-title="Add Type" title="Add Type" class="fa fa-plus"></i>Add Payment</a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Received From:</label>
                            <div class="input-group">
                                @Html.DropDownList("PaymentReceiptName", new SelectList(Model.PaymentReceiptName, "Text", "Text"), new { @class = "form-control required", @id = "PurchaseName", type = "option" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Start Date:</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="startdatepicker" placeholder="Select Start Date">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>End Date:</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="enddatepicker" placeholder="Select End Date">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Action:</label><br />
                            <input type="submit" class="btn btn-primary" value="Filter" id="btnSearch" />
                            <input type="reset" class="btn btn-warning" value="Reset" id="btnReset" />
                        </div>
                    </div>
                    <div id="SearchList">
                        @Html.Partial("_SearchList", Model.List)
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts
{
    <script type="text/javascript">
        $('#PaymentReceiptlist').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': false,
            'info': true,
            'autoWidth': false
        })

        $('#startdatepicker').datepicker({
            autoclose: true,
            dateFormat: "dd/mm/yy"
        });

        $('#enddatepicker').datepicker({
            autoclose: true,
            dateFormat: "dd/mm/yy"
        });

        $("body").on("click", "#btnSearch", function () {
            var data = new FormData();
            data.append('PurchaseName', $("#PurchaseName").val());
            data.append('StartDate', $("#startdatepicker").val());
            data.append('EndDate', $("#enddatepicker").val());

            $.ajax({
                type: "POST",
                url: "/PaymentReceipt/SearchList",
                data: data,
                processData: false,
                contentType: false,
                success: function (result) {
                    if (result) {
                        $('#SearchList').html(result);
                    }
                }
            });
        });

        $("body").on("click", "#btnReset", function () {
            $('#startdatepicker').datepicker('setDate', null);
            $('#enddatepicker').datepicker('setDate', null);
            $('#PurchaseName').prop('selectedIndex', 0);

            $.ajax({
                type: "GET",
                url: "/PaymentReceipt/List",
                success: function (result) {
                    if (result) {
                        window.location.href = '@Url.Action("List","PaymentReceipt")';
                    }
                }
            });
        })
    </script>
}

<div class="modal fade bd-example-modal-lg" id="ModalSelectPaymentToReceived" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle" style="text-align:center;">Balance Payment List</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <div class="row">
                    <table id="Paymentlist" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Sale No</th>
                                <th>Sale To</th>
                                <th>Sale Date</th>
                                <th>Total Sale Amount</th>
                                <th>Balance</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.SalesListModel)
                            {
                                <tr>

                                    <td>@item.Sale_No</td>
                                    <td>@item.Sale_To</td>
                                    <td>@item.Sale_Date</td>
                                    <td>@item.GrossTotal</td>
                                    <td>@item.Balance</td>
                                    <td><a href="/PaymentReceipt/Create/@item.Id"><span class="label label-success">Receive Payment</span></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>