@model  IEnumerable<Sales_Inventory.Models.PaymentReceiptViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Payment Receipt List</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">List</li>
    </ol>
</section>

<div class="col-xs-12">
    <div class="box">
        <div class="box-header with-border">
            <div class="form-group col-md-3">
                <a class="btn btn-primary pull-left" href="" data-toggle="modal" data-target="#ModalSelectPaymentToReceived"><i data-toggle="tooltip" data-original-title="Add Type" title="Add Type" class="fa fa-plus"></i>Add Payment</a>
            </div>
        </div>
        <div class="box-body">
            <table id="PaymentReceiptlist" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Receipt No</th>
                        <th>Received Date</th>
                        <th>Received From</th>
                        <th>Total Amount</th>
                        <th>Paid Amount</th>
                        <th>Balance</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tblbody">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ReceiptNo</td>
                            <td>@String.Format(@"{0:dd\/MM\/yyyy}", item.ReceivedDate)</td>
                            <td>@item.ReceivedFrom</td>
                            <td>@item.TotalAmount</td>
                            <td>@item.PaidAmount</td>
                            <td>@item.Balance</td>
                            <td>
                                <a href="/PaymentReceipt/Edit/@item.Id"><span class="label label-success">Edit</span></a>
                                <a href="/PaymentReceipt/Delete/@item.Id" onclick="return confirm(' you want to delete?');"><span class="label label-danger">Delete</span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#PaymentReceiptlist').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    });
</script>

<script src="/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>

<div class="modal fade bd-example-modal-lg" id="ModalSelectPaymentToReceived" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle" style="text-align:center;">Balance Payment List</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <div class="row">
                    <table id="Paymentlist" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Sale No</th>
                                <th>Sale To</th>
                                <th>Sale Date</th>
                                <th>Total Sale Amount</th>
                                <th>Balance</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.SalesListModel)
                            {
                                <tr>

                                    <td>@item.Sale_No</td>
                                    <td>@item.Sale_To</td>
                                    <td>@item.Sale_Date</td>
                                    <td>@item.GrossTotal</td>
                                    <td>@item.Balance</td>
                                    <td><a href="/PaymentReceipt/Create/@item.Id"><span class="label label-success">Pay</span></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
