@model  IEnumerable<Sales_Inventory.Models.DayCashModel>

@{
    ViewBag.Title = "Day Cash Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>Day Cash Book</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">List</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="box">
                        <div class="col-lg-4 col-xs-6">
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h3>@ViewBag.DayCashOut</h3>
                                    <h4>Day Cash Out</h4>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-dashboard"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xs-6">
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3>@ViewBag.DayCashOut</h3>
                                    <h4>Day Cash In</h4>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-dashboard"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xs-6">
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>@ViewBag.DayCashOut</h3>
                                    <h4>Balance Cash In-Hand</h4>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-dashboard"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box">
                            <div class="box-body table-responsive">
                                <table id="Paymentlist" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Paid To</th>
                                            <th>Payment Date</th>
                                            <th>Paid Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblbody">
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Name</td>
                                                <td>@String.Format(@"{0:dd\/MM\/yyyy}", item.PaidDate)</td>
                                                <td>@item.PaidAmount</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Paymentlist').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': false,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
}