@{ 
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Dashboard
        </h1>
        <ol class="breadcrumb">
            <li class="fa fa-dashboard active">Dashboard</li>
        </ol>
    </section>

    <!--Status Board start---->
    <section class="content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Employees</span>
                        <span class="info-box-number">@TempData["EmployeeCount"]</span>
                    </div>
                    <a href="@Url.Action("List","Employee")" class="small-box-footer">List All Employees <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-address-book"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Purchase</span>
                        <span class="info-box-number">@TempData["PurchaseCount"]</span>
                    </div>
                    <a href="@Url.Action("List","Purchase")" class="small-box-footer">List All Purchases <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Sales</span>
                        <span class="info-box-number">@TempData["SalesCount"]</span>
                    </div>
                    <a href="@Url.Action("List","Sales")" class="small-box-footer">List All Sales <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-dollar"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Payment</span>
                        <span class="info-box-number">@TempData["PaymentCount"]</span>
                    </div>
                    <a href="@Url.Action("List","Payment")" class="small-box-footer">List All Payments <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@TempData["PaymentReceiptCount"]</h3>
                        <p>Payment Received</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <a href="@Url.Action("List","Payment")" class="small-box-footer">List All Payments Received <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>@TempData["TotalStockCount"]</h3>
                        <p>Total Stock</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <a href="@Url.Action("TotalStockList","Home")" class="small-box-footer">List All Current Stock <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@TempData["TotalInHouseTransaction"]</h3>
                        <p>In-House Transaction</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <a href="@Url.Action("List","InHouse")" class="small-box-footer">List All InHouse Transaction <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!--Status Board end---->
</div>