@model  IEnumerable<Sales_Inventory.Models.PaymentViewModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

<div class="col-xs-12">
    <div class="box">
        <div class="box-header with-border">
            <div class="form-group col-md-3">
                <a class="btn btn-primary pull-left" href="/Payment/Create"><i data-toggle="tooltip" data-original-title="Add Type" title="Add Type" class="fa fa-plus"></i>Add Payment</a>
            </div>
        </div>
        <div class="box-body">
            <table id="Paymentlist" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Payment To</th>
                        <th>From</th>
                        <th>Date</th>
                        <th>Reason</th>
                        <th>Mode</th>
                        <th>Amount</th>
                        <th>Balance</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tblbody">
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Payment_To</td>
                        <td>@item.Payment_By</td>
                        <td>@String.Format(@"{0:dd\/MM\/yyyy}", item.Payment_Date)</td>
                        <td>@item.Payment_Against</td>
                        <td>@item.Payment_Type</td>
                        <td>@item.Payment_Amount</td>
                        <td>@item.Balance</td>
                        <td>
                            <a href="/Employee/Edit/@item.Id"><span class="label label-success"><i class="fa fa-pencil"></i></span></a>
                            <a href="/Employee/Delete/@item.Id" onclick="return confirm(' you want to delete?');"><span class="label label-danger"><i class="fa fa-trash-o"></i></span></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(function () {
        //$('#Emplist').DataTable()
        $('#Paymentlist').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    });
</script>

<script src="/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
