@model  IEnumerable<Sales_Inventory.Models.PaymentViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>List</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">List</li>
    </ol>
</section>

<div class="col-xs-12">
    <div class="box">
        <div class="box-header with-border">
            <div class="form-group col-md-3">
                <a class="btn btn-primary pull-left" href="/Payment/Create"><i data-toggle="tooltip" data-original-title="Add Type" title="Add Type" class="fa fa-plus"></i>Add Payment</a>
            </div>
        </div>
        <div class="box-body">
            <table id="Paymentlist" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>Purchase No</td>
                        <th>Payment To</th>
                        <th>Date</th>
                        <th>Mode</th>
                        <th>Paid Amount</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody id="tblbody">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Purchase_No</td>
                            <td>@item.Payment_To</td>
                            <td>@String.Format(@"{0:dd\/MM\/yyyy}", item.Payment_Date)</td>
                            <td>@item.Payment_Type</td>
                            <td>@item.Paid_Amount</td>
                            <td>@item.Balance</td>
                            @*<td>
                                <a href="/Employee/Edit/@item.Id"><span class="label label-success"><i class="fa fa-pencil"></i></span></a>
                                <a href="/Employee/Delete/@item.Id" onclick="return confirm(' you want to delete?');"><span class="label label-danger"><i class="fa fa-trash-o"></i></span></a>
                            </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#Paymentlist').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    });
</script>

<script src="/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
