@model List<Sales_Inventory.Models.SalesViewModel>

<div class="box-body table-responsive">
    <table id="Saleslist" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Sale_No</th>
                <th>Sale_To</th>
                <th>Seller Phone</th>
                <th>Sale Date</th>
                <th>Sale Amount</th>
                <th>Balance</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tblbody">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Sale_No</td>
                    <td>@item.Sale_To</td>
                    <td>@item.Sale_To_Phone</td>
                    <td>@String.Format(@"{0:dd\/MM\/yyyy}", item.Sale_Date)</td>
                    <td>@item.GrossTotal</td>
                    <td>@item.Balance</td>
                    <td>
                        @if (item.Balance > 0)
                        {
                            <a href="/Sales/Edit/@item.Id"><span class="label label-success">Edit</span></a>
                            <a href="/PaymentReceipt/Create/@item.Id"><span class="label label-success">Receive Payment</span></a>
                        }
                        else
                        {
                            <a href=""><span class="label label-info">No Dues</span></a>
                        }
                        <a href="/Sales/Delete/@item.Id" onclick="return confirm(' you want to delete?');"><span class="label label-danger">Delete</span></a>
                        <a href="/Sales/InvoicePrint/@item.Id" target="_blank"><span class="label label-warning">Print</span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>