@model IEnumerable<Sales_Inventory.Models.SalesViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>Sales List</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">List</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="form-group col-md-3">
                            <a class="btn btn-primary pull-left" href="/Sales/Create"><i data-toggle="tooltip" data-original-title="Add Type" title="Add Type" class="fa fa-plus"></i>New Sale</a>
                        </div>
                    </div>
                    <div class="box-body">
                        <table id="Saleslist" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Sale_No</th>
                                    <th>Sale_To</th>
                                    <th>Seller Phone</th>
                                    <th>Sale Date</th>
                                    <th>Sale Amount</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody id="tblbody">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Sale_No</td>
                                        <td>@item.Sale_To</td>
                                        <td>@item.Sale_To_Phone</td>
                                        <td>@String.Format(@"{0:dd\/MM\/yyyy}", item.Sale_Date)</td>
                                        <td>@item.GrossTotal</td>
                                        <td>@item.Balance</td>
                                        @if (Convert.ToInt32(Session["UserId"]) == 1)
                                        {
                                            <td>
                                                <a href="/Sales/Edit/@item.Id"><span class="label label-success">Edit</span></a>
                                                <a href="/Sales/Delete/@item.Id" onclick="return confirm(' you want to delete?');"><span class="label label-danger">Delete</span></a>
                                                @if (item.Balance > 0)
                                                {
                                                    <a href="/PaymentReceipt/Create/@item.Id"><span class="label label-success">Pay Amount</span></a>
                                                }
                                                else
                                                {
                                                    <a href=""><span class="label label-info">No Dues</span></a>
                                                }
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Saleslist').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                'pageLength': 10
            })
        })
    </script>
}