@model List<Sales_Inventory.Models.PurchaseModel>

<div class="box-body table-responsive">
    <table id="PurchaseProductlist" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Purchase_No</th>
                <th>Purchase From</th>
                <th>Seller Phone</th>
                <th>Purchase Date</th>
                <th>Total Amount</th>
                <th>Balance Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tblbody">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Purchase_No</td>
                    <td>@item.Purchase_From</td>
                    <td>@item.Purchase_From_Phone</td>
                    <td>@String.Format(@"{0:dd\/MM\/yyyy}", item.Purchase_Date)</td>
                    <td>@item.GrossTotal</td>
                    <td>@item.Balance</td>
                    <td>
                        @if (item.Balance > 0)
                        {
                            <a href="/Purchase/Edit/@item.Id"><span class="label label-success">Edit</span></a>
                            <a href="/Payment/Create/@item.Id"><span class="label label-success">Pay Amount</span></a>
                        }
                        else
                        {
                            <a href="#"><span class="label label-info">No Dues</span></a>
                        }
                        <a href="/Purchase/Delete/@item.Id" onclick="return confirm(' you want to delete?');"><span class="label label-danger">Delete</span></a>
                        <a href="/Purchase/InvoicePrint/@item.Id" target="_blank"><span class="label label-warning">Print</span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>