@model  Sales_Inventory.Models.AdvanceViewModel

@{
    ViewBag.Title = "Advance List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>Advance List</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">List</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Advance To</label>
                                @Html.TextBoxFor(m => m.Advance_To, new { @class = "form-control required", placeholder = "Enter Expense Name", @id = "AdvanceTo" })
                                @Html.ValidationMessageFor(m => m.Advance_To)
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Advance Amount</label>
                                @Html.TextBoxFor(m => m.Advance_Amount, new { @class = "form-control required", placeholder = "Enter Expense Amount", @id = "AdvanceAmt" })
                                @Html.ValidationMessageFor(m => m.Advance_Amount)
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Advance Date</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m.Advance_Date, "{0:dd/MM/yyyy}", new { @class = "form-control", placeholder = "Enter Expense Date dd/mm/yyyy", @id = "AdvanceDate" })
                                    @Html.ValidationMessageFor(m => m.Advance_Date)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Advance Reason</label>
                                @Html.TextBoxFor(m => m.Advance_Against, new { @class = "form-control required", placeholder = "Enter Expense Reason", @id = "AdvanceAgainst" })
                                @Html.ValidationMessageFor(m => m.Advance_Against)
                            </div>
                        </div>
                        <div class="box-footer">
                            <input type="reset" class="btn btn-primary" value="Submit" id="btnSave" />
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-3">
                            <label>Advance To:</label>
                            <div class="input-group">
                                @Html.DropDownList("AdvanceToList", new SelectList(Model.AdvanceTo, "Text", "Text"), new { @class = "form-control required", @id = "PurchaseName", type = "option" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Start Date:</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="startdatepicker" placeholder="Select Start Date">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>End Date:</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="enddatepicker" placeholder="Select End Date">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Action:</label><br />
                            <input type="submit" class="btn btn-primary" value="Filter" id="btnSearch" />
                            <input type="reset" class="btn btn-warning" value="Reset" id="btnReset" />
                        </div>
                    </div>
                    <div id="SearchList">
                        @Html.Partial("_SearchList", Model.List)
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts
{
    <script type="text/javascript">
        $('#Advancelist').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': false,
            'info': true,
            'autoWidth': false
        })

        $('#startdatepicker').datepicker({
            autoclose: true,
            dateFormat: "dd/mm/yy"
        });

        $('#enddatepicker').datepicker({
            autoclose: true,
            dateFormat: "dd/mm/yy"
        });

        $('#AdvanceDate').datepicker({
            autoclose: true,
            dateFormat: "dd/mm/yy"
        });

        $("body").on("click", "#btnSave", function () {
        //Loop through the Table rows and build a JSON array.
        var data = new FormData();
        data.append('AdvanceTo', $("#AdvanceTo").val());
        data.append('AdvanceAmt', $("#AdvanceAmt").val());
        data.append('AdvanceDate', $("#AdvanceDate").val());
        data.append('AdvanceAgainst', $("#AdvanceAgainst").val());

        //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: "/AdvancePayment/Create",
                data: data,
                processData: false,
                contentType: false,
                success: function (result) {
                    toastr.success('Record(s) Inserted Successfully')
                    if (result) {
                        window.location.href = '@Url.Action("List","AdvancePayment")';
                    }
                }
            });
        });

        $("body").on("click", "#btnSearch", function () {
            var data = new FormData();
            data.append('PurchaseName', $("#PurchaseName").val());
            data.append('StartDate', $("#startdatepicker").val());
            data.append('EndDate', $("#enddatepicker").val());

            $.ajax({
                type: "POST",
                url: "/AdvancePayment/SearchList",
                data: data,
                processData: false,
                contentType: false,
                success: function (result) {
                    if (result) {
                        $('#SearchList').html(result);
                    }
                }
            });
        });

        $("body").on("click", "#btnReset", function () {
            $('#startdatepicker').datepicker('setDate', null);
            $('#enddatepicker').datepicker('setDate', null);
            $('#PurchaseName').prop('selectedIndex', 0);

            $.ajax({
                type: "GET",
                url: "/AdvancePayment/List",
                success: function (result) {
                    if (result) {
                        window.location.href = '@Url.Action("List","AdvancePayment")';
                    }
                }
            });
        })
    </script>
}